.cover__link {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    gap: 32px;
    z-index: 2;
}

.cover__link:hover .cover__picture {
    opacity: 0.5;
}


/* .cover__link:hover {
    opacity: 0.5;
} */