@media (min-width: 320px) {
    .place__paragraph_type_wider {
        max-width: 285px;
    }

    @media (min-width: 325px) {
         .place__paragraph_type_wider  {
            max-width: 96%;
        }
    }
    
    @media (min-width: 768px) {
         .place__paragraph_type_wider  {
            max-width: 358px;
        }
    }
    
    @media (min-width: 1024px) {
         .place__paragraph_type_wider  {
            max-width: 484px;
        }
    }

}
