.lang-btn {
    font-size: 24px;
    line-height: 28px;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font: inherit;
    color: inherit;
    text-decoration: none;
}

.lang-btn:hover {
    opacity: 0.8;
}