.place__wrapper {
    display: flex;
    flex-direction: column;
}

@media (min-width: 320px) { 
    .place__wrapper {
        gap: 25px;
    }
}

@media (min-width: 1280px) { 
    .place__wrapper {
        min-width: 484px;
        gap: 35px;
    }
}