.intro__text {
    margin: 40px 0 0 0;
    padding: 0;
}

@media (min-width: 320px) {
    .intro__text {
        font-size: 16px;
        min-width: 288px;
        line-height: 163%;
    }
}

@media (min-width: 768px) {
    .intro__text {
        max-width: 720px;
    }
}

@media (min-width: 1024px) {
    .intro__text {
        max-width: 690px;
    }
}