.cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (min-width: 320px) {
    .cover{
        margin-top: 42px;
    }
}

@media (min-width: 768px) {
    .cover {
        margin-top: 92px;
    }
}

/* @media (min-width: 1024px) {
    .cover {
        min-height: 640px;
    }
}

@media (min-width: 1280px) {
    .cover {
        min-height: 740px;
    }
} */
