.place__link {
    margin: 0;
    padding: 0;
    text-decoration: underline;
    font-size: 16px;
    line-height: 22px;
    max-width: fit-content;
    color: inherit;
}

@media (min-width: 320px) {
    .place__link  {
        padding-left: 14px;
    }
}

@media (min-width: 767px) {
    .place__link  {
        padding-left: 0;
    }
}

/* 
@media (min-width: 1024px) {
    .place__link {
        font-size: 18px;
    }
} */