.cover__title {
    text-align: center;
    margin: 0;
    padding: 0;
}

@media (min-width: 320px) {
    .cover__title {
        width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}

@media (min-width: 768px) {
    .cover__title {
        width: 560px;
        font-size: 72px;
        line-height: 76px;
    }
}