.footer {
    margin-top: 64px;
    padding: 0 0 24px 0;
    display: flex;
}

@media (min-width: 300px) {
    .footer {
        flex-direction: column;
        max-width: 310px;
        gap: 48px;
    }
}

/* @media (min-width: 500px) {
    .footer {
        flex-direction: row;
         align-items: center;
        justify-content: space-between;
        gap: 8px;
    }
} */

@media (min-width: 768px) {
    .footer {
        margin: 34px 24px 0 24px;
        flex-direction: row;
        justify-content: space-between;
        max-width: 100%;
        /* gap: normal; */
    }
}

@media (min-width: 1024px) {
    .footer {
        margin: 34px 48px 0 48px;
    }
}