.place__url-heading {
    margin: 0;
    padding: 0;
    font-size: 12px;
    letter-spacing: 2px;
    opacity: 0.7;
    line-height: 12px;
}



/* @media (min-width: 1280px) { 
    .place__url-heading {
        font-size: 12px;
        letter-spacing: 2px;
        opacity: 0.7;
    }

} */