.intro__title {
    font-weight: 900;
    margin: 0;
    padding: 0;
}

@media (min-width: 320px) {
    .intro__title {
        max-width: 248px;
        font-size: 32px;
        line-height: 35px;
        margin-top: 64px;
    }
}

@media (min-width: 325px) {
    .intro__title {
        max-width: 95%;
    }
}

@media (min-width: 768px) {
    .intro__title {
        font-size: 54px;
        line-height: 58px;
        margin-top: 88px;
        /* opacity: 0.69; */
    }
}

@media (min-width: 1024px) {
    .intro__title {
        margin-top: 94px;
    }
}

@media (min-width: 1279px) {
    .intro__title {
        margin-top: 92px;
        /* opacity: 0.69; */
    }
}